* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
}

.input-container input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  background-color: #EEEDED;
  color: #000;
}

button.active {
  background-color: #F89C17;
  color: #fff;
}

/* .card {
  background-color: #fff;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
} */


.mySwiper {
  width: 1100px;
  height: 420px;
}

.slide-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.slide-image {
  width: 100%;
  height: 100vh;
  border-radius: 20px;
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination {
  background-color: transparent;
  padding: 10px 0;
}